h1 { 
	font-size: 20pt;
	text-align: center; 
	margin-bottom: 20px;
} 

img {
	display: block;
	width: 180px;
	margin:auto;
}

p {
	display: block;
	margin-left: 20px;
	text-align: left;
}

ul {
	list-style: disc;
}

li {
margin-left: 50px;
}

.wrapper { 
	padding-top: 4px;
	padding-bottom: 47px;
	background: #EEEEEE; 
	border-style: none none solid none;
	border-radius: 0 0 8px 8px;
} 

.parent { 
	padding-top: 15px;
	margin: auto;
	width: 512px;
	height: 750px;
	background: #FFFFFF;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
	font-family: Times New Roman; 
	font-size: 14pt;
	line-height: 1.7;
}

.box2,
.box3 { 
	padding: 15px 0;
	margin: 0 50px; 
}

.box2 { 
	border-bottom: solid 1px;
}

