.carousel__wrapper {
	position: relative;
	margin: 20px auto;
	width: 804px;
}

.select__wrappper {
	margin: 20px auto;
	width: 220px;
}

.checkbox__wrappper {
	margin: 20px auto;
	width: 215px;
}
.chek__box1, .chek__box2 {
	width: 105px;
	margin-top: 20px;
	display: inline-block;
}


.jcarousel {
	position: relative;
    overflow: hidden;
}

.jcarousel ul {
	margin: auto;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
	margin: 5px;
}

.prev{
	float: left;
	font-size:20px;
	margin-top: 72px;
}

.next {
	float: right;
	font-size:20px;
	margin-top: -95px;
}

.niceCheck {
width: 17px;
height: 17px;
display: inline-block;
cursor: pointer;
background: url("../img/checkbox-sprite.png");
}
.niceCheck input {
display: none;
}

span > label {
	display: inline-block;
    width: 80px;
    margin-left: 30px;
}


input[type=checkbox] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
input + label {
    cursor: pointer;
}
input + label:after {
    content: " ";
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url("../img/checkbox-sprite.png");
    position: relative;
    top: 3px;
    margin-left: 15px;
}
input[type=checkbox]:checked + label:after {
background-position: 0 -17px;
}
input + label:hover:after {
background-position: 0 -34px;
}
input[type=checkbox]:checked + label:hover:after {
background-position: 0 -51px;
}
 
.menu__wrapper {
	width: 462px;
	margin: 20px auto;
}

.menu {
	padding:10px 0;
    background-color: #FF6666;
}
.menu ul {
    margin:0;
    padding:0;
	list-style-type:none;
}
.menu ul li {
    display:inline-block;
    position:relative;
}

.menu li ul {    
    position:absolute;
    left:0;
    top:40px; 
    width:108px;
	background-color: #FF5050;
}
.menu li li {
    position:relative;
    margin:0;
    display:block;
}
.menu li li ul {
    position:absolute;
    top:0;
    left:108px; 
    margin:0;
}

.menu a {
    line-height:40px;
    padding:0 10px;
    margin:0 10px;
}
.menu a {
    display:block;
    color:#fff;
    text-decoration:none;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
	color:#323232;
}

.menu li li a {
    margin:0 10px;
    padding:0;
	border-bottom:solid 1px #C83232;
}
.menu li li:last-child a {
    border-bottom:none;
}

ul.sub-menu {
    display:none;
}

.menu > ul > li > ul {
	background: #E34D4D;
}

.menu > ul > li > ul > li > ul {
	background: #C34D4D;
}

.menu > ul > li > ul > li > ul  >li > ul {
	background: #A34D4D;
}

a>span {
	font-size: 10px;
}