<!DOCTYPE html>
<html> 
<head>
	<meta charset="UTF-8"/> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.jcarousel.min.js"></script>
	<script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
	<script type="text/javascript" src="js/tmpl.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<link rel="stylesheet" href="css/reset.css"> 
	<link rel="stylesheet" href="css/style.css"> 
	<link rel="shortcut icon" href="img/favicon.png" type="image/png">
	<title>URLAUBSGLÜCK</title>
</head>
<body>

	<div class="header">
		<div class="wrapper">
		<div class="header__registr">
			<a href="#" class="header__link">Log in</a>
			<a href="#" class="header__link sign-up">Sign up</a>
		</div>		
		
		<div class="header__logo">
		<a href="#" class="header__logo__link">
			URLAUBSGLÜCK
		</a>
        </div>
		<div class="header__content">
			<h1 class="header__title">SHARE YOUR HOLIDAY DREAMS</h1>
			<p class="header__text">And find the perfect partner to fullfill it</p>
			<button id="button__find" name="find" value="fff">Find your holiday partner</button>
        </div>
		</div>
	</div>
	
		
	<div class="steps">
		<div class="wrapper">
			<h3 class="steps__title">How Urlaubsglück works?</h3>
			<div class="jcarousel steps__item steps__item-1">
				<ul class="jcarousel__list">
					<li class="jcarousel__item">
					<img class="jcarousel__image" src="img/slider1.jpg" alt="img/slider1.jpg">
					</li>
					<li class="jcarousel__item">							
					<img class="jcarousel__image" src="img/slider11.jpg" alt="img/slider11.jpg">
					</li>
					<li class="jcarousel__item">				
					<img class="jcarousel__image" src="img/slider111.jpg" alt="img/slider111.jpg">
					</li>
				</ul>
	      <div class="arrows">
	        <span class="arrow arrow__left jcarousel-control-prev"></span>
	        <span class="arrow arrow__right jcarousel-control-next"></span>
	      </div>

	      <div class="steps__content">
					<a class="steps__link" href="#"><span class="steps__num">STEP 1</span></a>
					<h3 class="steps__subtitle">Sed leo enim, condimentum</h3>
					<p class="steps__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
					</p>
				</div>
			</div>

			<div class="jcarousel steps__item steps__item-2">
				<ul class="jcarousel__list">
					<li class="jcarousel__item">
					<img class="jcarousel__image" src="img/slider2.jpg" alt="img/slider2.jpg">
					</li>
					<li class="jcarousel__item">							
					<img class="jcarousel__image" src="img/slider22.jpg" alt="img/slider22.jpg">
					</li>
					<li class="jcarousel__item">				
					<img class="jcarousel__image" src="img/slider222.jpg" alt="img/slider222.jpg">
					</li>
				</ul>
	      <div class="arrows">
	        <span class="arrow arrow__left jcarousel-control-prev"></span>
	        <span class="arrow arrow__right jcarousel-control-next"></span>
	      </div>

	      <div class="steps__content steps-2">
					<a class="steps__link" href="#"><span class="steps__num">STEP 2</span></a>
					<h3 class="steps__subtitle">Morbi velit risus</h3>
					<p class="steps__text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
					</p>
				</div>
			</div>

			<div class="jcarousel steps__item steps__item-3">
				<ul class="jcarousel__list">
					<li class="jcarousel__item">
					<img class="jcarousel__image" src="img/slider3.jpg" alt="img/slider3.jpg">
					</li>
					<li class="jcarousel__item">							
					<img class="jcarousel__image" src="img/slider33.jpg" alt="img/slider33.jpg">
					</li>
					<li class="jcarousel__item">				
					<img class="jcarousel__image" src="img/slider333.jpg" alt="img/slider333.jpg">
					</li>
				</ul>
	      <div class="arrows">
	        <span class="arrow arrow__left jcarousel-control-prev"></span>
	        <span class="arrow arrow__right jcarousel-control-next"></span>
	      </div>

	      <div class="steps__content">
					<a class="steps__link" href="#"><span class="steps__num">STEP 3</span></a>
					<h3 class="steps__subtitle">Sed leo enim, condimentum</h3>
					<p class="steps__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
					</p>
				</div>
			</div>
		</div>
	</div>

		
	<div class="partners">
		<div class="wrapper">
		<h3 class="partners__title">Meet a partner for your best holiday</h3>
		<ul class="partners__list">
			<li class="partners__item">
				<div class="partners__img">
					<img class="partners__avatar" src="img/img1.png" alt="Bradley Hunter">
					<div class="partners__icon partners__icon-red"></div>
				</div>
			<a class="partners__link" href="#"><p class="partners__name">Bradley Hunter</p></a>
			<p class="partners__text">Based in Chicago. I love playing tennis and loud music.</p>	
			</li>	
		
			<li class="partners__item">
				<div class="partners__img">
					<img class="partners__avatar" src="img/img2.png" alt="Heather Walker">
					<div class="partners__icon partners__icon-green"></div>
				</div>
			<a class="partners__link" href="#"><p class="partners__name">Heather Walker</p></a>
			<p class="partners__text">I'm a happy person that loves cats and climbing on mountains.</p>
			</li>	
		
			<li class="partners__item">
				<div class="partners__img">
					<img class="partners__avatar" src="img/img3.png" alt="Lucas Marsha">
					<div class="partners__icon partners__icon-yellow"></div>
				</div>
			<a class="partners__link" href="#"><p class="partners__name">Lucas Marsha</p></a>
			<p class="partners__text">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
			</li>	
		
			<li class="partners__item">
				<div class="partners__img">
					<img class="partners__avatar" src="img/img4.png" alt="Helen Hunter">
					<div class="partners__icon partners__icon-blue"></div>
				</div>
			<a class="partners__link" href="#"><p class="partners__name">Helen Hunter</p></a>
			<p class="partners__text">Based in Chicago. I love playing tennis and loud music.</p>
			</li>	
		</ul>
		<button id="button__see" name="see" value="#">See other partners</button>
		</div>
	</div>
		
	<div class="ideas">
		<div class="wrapper">
		<h3 class="ideas__title">Discover holiday activity ideas</h3>
		<div id="ideas__grid"></div>
		
	<script type="text/template" id="masonry">
	<div class="grid">
		<% for (var i = 0; i < data.length; i++){%>
	  <div class="grid__table grid__item 
			<% if ((i === 4) || (i === 5)){ %>
				grid__width-2
			<% } %>" style="background-image: url(<%= data[i].webformatURL %>);" >
			<div class="grid__table">
				<p class="grid__text table-cell"><%= data[i].tags %></p>
			</div>
	  </div>
	  
	  <%}%>
	</div>
	</script>

	<div class="discover">
		<h3 class="discover__title">Discover holiday activity ideas</h3>
		<p class="discover__text">Hi! What are your holiday interests?</p>
		<form class="search__form">
			<input class="search__input" type="text" placeholder="Enter your interests">
			<button id="button__search">Search partners</button>
		</form>
	</div>
	</div>
	</div>
	
	<div class="footer">
		<div class="wrapper">
		<div class="footer__logo">
		<a href="#" class="logo__link">
			URLAUBSGLÜCK
		</a>
        </div>
		<div class="footer__company">
			<p class="footer__head-nav">Company</p>
			<ul class="footer__nav">
				<li class="footer__nav__item"><a class="footer__nav__link" href="#">About</a></li>
				<li class="footer__nav__item"><a class="footer__nav__link" href="#">Contacts</a></li>
				<li class="footer__nav__item"><a class="footer__nav__link" href="#">Press</a></li>
				<li class="footer__nav__item"><a class="footer__nav__link" href="#">Blog</a></li>
			</ul>
		</div>
			<p class="footer__head-nav nav-partners">Partners</p>
      
		<div class="copyright">
        <p class="copyright__title">DESIGNED BY</p>
        <a href="#"><div class="copyright__logo"></div></a>
		</div>
		</div>
   	</div>


</body>
</html>